{% extends "base.html" %}
{% block title %}Añadir Api{% endblock %}

{% block content %}
<form class="m-5 p-3" method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Url</label>
    <div class="col-sm-10">
      <input class="form-control" name = "url" id="url" placeholder="Url" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-10">
      <input class="form-control" name="tipo" id="tipo" placeholder="Tipo" required>
      <small id="emailHelp" class="form-text text-muted">Ej: hoteles, restaurantes...</small>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Formato</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="formato" id="json" value="JSON" checked>
          <label class="form-check-label" for="gridRadios1">JSON</label>
          <br>
          <input class="form-check-input" type="radio" name="formato" id="xml" value="XML">
          <label class="form-check-label" for="gridRadios2">XML</label>
          <br>
          <input class="form-check-input" type="radio" name="formato" id="csv" value="CSV" disabled>
          <label class="form-check-label" for="gridRadios3">CSV</label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Insertar</button>
    </div>
  </div>
</form>
{% endblock %}
